<!DOCTYPE HTML>
    <html>
    <head>
    	<link type="text/css" rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
    	<h1> Ay, {{ entered_name }} </h1> <!--- dynamically populates html from spreadsheet.py with jinga syntax -->
        
        <h2> {{ msg }} </h2> <!--- dynamically populates html  from spreadsheet.py with jinga syntax-->

        <img src="http://www.seriouseats.com/recipes/assets_c/2015/04/20150408-french-madeleines-with-almonds-and-apricot-nila-jones-4-thumb-625xauto-421719.jpg">

    </body>

    </html>